body{
    background-color: #071E3D;
    color:aliceblue;
    background-image: url("https://wallpaperaccess.com/full/676347.jpg");
    overflow-x: hidden;
}
*{
    margin:0;
    padding:0;
    
}
#greet{
    background-color: #071E3D;
    font-family: monospace;
    color: white;
    text-align: center;
    font-size: 40px;
    position: fixed;
    width: 100%;
    top: -10px;
    z-index: auto;
    margin-right: 0px;
    margin-left: 0px;
    height: 100px;
    padding: 10px;
}


.tab{
    background-color: #071E3D;
    position: fixed;
    margin-top: 100px;
    margin-right: 0px;
    margin-left: 0px;
    width: 100%;
    height: 65px;
    top: -5px;
    z-index: auto;
    padding:10px;
    display: flex;
    justify-content: center;
    align-items: center;
    

}
.tab a{
    
    height: 45px;
    background-color: #21E6C1;
    color: white;
    border-radius: 10px;
    font-size: 30px;
    text-decoration: none;
    position: relative;
    left: 10px;
    padding: 5px;
    margin: 10px;
    font-family: Arial, Helvetica, sans-serif;
    transition: 0.3s;

}
.tab a:hover{
    
    
    background-color: white;
    color: #21E6C1;
    

}
.intro{
    height: fit-content;
    background-color: #278EA5;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
    margin-top: 220px;
    text-align: center;
    border-radius: 40px;
    padding: 30px;
    border: solid 20px #0c697e;
    margin-left: auto ;
    margin-right: auto;
    width: 70%;
    
    
}

#introduction{
    width:auto;
    height: fit-content;
    padding-top: 150px;
    

    
    
}
.intromain{
    
    height:fit-content;
    background-color: #21E6C1;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 50px;
    text-align: center;
    border-radius: 40px;
    font-size: 30px;
    padding: 10px;
    border: solid 20px #1F4287;
    float: left;
}

#skillsets{
    margin-top:200px;
    
    
    width:auto;
    height: fit-content;
    

    
    
}

.skills{
    height:fit-content;
    background-color: #21E6C1;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    border-radius: 40px;
    font-size: 30px;
    padding-top: 30px!important;
    padding-left: 50px !important;
    padding-bottom: 30px !important;
    border: solid 20px #1F4287;
    float:left;
    margin-top: 50px;
    width:95%;
    margin-left: auto  !important;
    margin-right: auto !important;
    
    

    
    
}
.skills ul{
    list-style-type:disc;
    text-align: left;

}

.skills ul li ul{
    list-style-type: square;
}

.social{
    height:fit-content;
    background-color: #21E6C1;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin:auto;
    text-align: center;
    border-radius: 40px;
    font-size: 30px;
    padding: 10px;
    border: solid 20px #1F4287;
    float:left;
    margin-top: 50px;
    width:95%;
    margin-left: auto ;
    margin-right: auto;
    
    
    

    
    
}

.project{
    height:fit-content;
    background-color: #21E6C1;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin:auto;
    text-align: center;
    border-radius: 40px;
    font-size: 30px;
    padding: 10px;
    border: solid 20px #1F4287;
    float:left;
    margin-top: 50px;
    width:95%;
    margin-left: auto ;
    margin-right: auto;
    
    

    
    
}
.social p img{
    padding: 10px;
}
.social p{
    height:100px;
    width: 100px;
    display: inline-block;
    margin: 10px;
    transition: 0.3s;

}
.social p:hover{
    height:120px;
    width: 120px;
    background-color: #071E3D;
    border-radius: 30px;
    top: -10px;
    
}
